.cursor {
  opacity: 0.6;
  height: 10px;
  width: 10px;
  border: 5px solid #c8c8f4;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 2;
}

.halo {
  opacity: 0.5;
  height: 20px;
  width: 20px;
  background-color: #c8c8f4;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 0;
}
.haloA {
  animation: haloFade 1s linear 1;
}
@keyframes haloFade {
  0% { height: 20px; width: 20px; opacity:0.5; color: rgb(200,200,244);}
 /* 80% {opacity:0;}*/
  100% {height: 35px; width: 35px; opacity: 0; color: rgb(0,0,0);}
}
@keyframes haloFadeS {
  0% { height: 20px; width: 20px; opacity:0.5; color: rgb(200,200,245);}
  100% {height: 35px; width: 35px; opacity: 0; color: rgb(0,0,0);}
}

.star {
  opacity: 0.6;
  height: 10px;
  width: 10px;
  background-color: #c8c8f4;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 1;
}
.starA {
  animation: starFade 1s linear 1;
}
@keyframes starFade {
  0% {  height: 10px; width: 10px; opacity:0.6; color: rgb(200,200,244);}
/*  80% {opacity:0;}*/
  100% {  height: 0px; width: 0px; opacity: 1; color: rgb(255,255,255);}
}
@keyframes starFadeS {
  0% {  height: 10px; width: 10px; opacity:0.6; color: rgb(200,200,245);}
  100% {  height: 0px; width: 0px; opacity: 1; color: rgb(255,255,255);}
}

 body {
  background-image: url('https://lixing-yi.github.io/background.jpg');
  color: blue;
}

 * {
  cursor: none;
}

.hide {
  display: none;
}

.relativeRight {
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 1;
}

.circle {
  animation: spin 9s linear infinite;
}
@keyframes spin {
  from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.shine {
  border: 7px solid white;
  animation: fade 2s infinite;
  -webkit-animation: fade 2s infinite;
  -moz-animation: fade 2s infinite;
  -o-animation: fade 2s infinite;
  -ms-animation: fade 2s infinite;
}
@keyframes fade {
  0% { opacity:0.9; }
  50% { opacity: 0; }
  100% { opacity:0.9; }
}

@-moz-keyframes fade {
   0% { opacity:0.9; }
  50% { opacity: 0; }
  100% { opacity:0.9; }
}

@-webkit-keyframes fade {
  0% { opacity:0.9; }
  50% { opacity: 0; }
  100% { opacity:0.9; }
}

@-o-keyframes fade {
  0% { opacity:0.9; }
  50% { opacity: 0; }
  100% { opacity:0.9; }
}

@-ms-keyframes fade {
  0% { opacity:0.9;}
  50% { opacity: 0; }
  100% { opacity:0.9;}

