 .moon {
      color: "rgb(190, 190, 200)";
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 10px -10px 0 0; 
      transform: translate(-20%, 20%);
}
.moonheader {
  background-image: linear-gradient(black, rgb(30, 30, 20));
}
.dayheader {
  background-image: linear-gradient(lightblue 75%, rgb(250, 220, 110));
}
 .sun {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #ef8e38;
      transform: translate(-20%, 20%);
    }
